/* цвет заголовка h1 #FFFFFF*/
/* цвет заголовка h2 #212121*/
/* цвет текста просрачный #757575*/

/*#2196F3 один из основных цветов бирюзовый*/
/* цвет ссылок #E5E5E5*/
:root {
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --text-color-zag: #212121;
    --background-color: #FFFFFF;
    --fon-background-color: #E5E5E5;
    --fon-background-color-two: #F5F4FA;
    --fon-background-color-footer: #2F303A;
}
body {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.7;
}

.point {
    list-style: none;
}
.site-nav {
    margin: 0;
    padding: 0;
}
.auth-nav {
    margin: 0;
    padding: 0;
}
/* шапка страницы*/
.logo {
    color: var(--text-color-zag);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo.wite {
    background-color: var(--fon-background-color-footer);
    color: var(--background-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo-cap {
    color: var(--accent-color);
}
.logo.wite.djazz {
    display: block;
    margin-bottom: 20px;
}

/*.list {
    list-style: none;ъ
} для сбросывания стиля к примера на точках в списке*/
.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .point + .point{
    margin-left: 50px;
}

/*.site-nav .point:not(:last-child){
    margin-right: 0px;
} мард прав прим ко всем кроме послед ребенка*/
/*.site-nav .point + .point{
    margin-left: 20px;
} margin левый применится ко всем кроме первого елемента */
.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--text-color-zag);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color:var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}
.auth-nav {
    display: flex;
    margin-left: auto;
}
.auth-nav .point + .point{
    margin-left: 50px;
}
.auth-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    text-decoration: none;

}
.auth-nav .link:hover, 
.auth-nav .link:focus  {
    color: var(--accent-color);

}
/*хедер*/
.main-nav {
    display: flex;
    align-items: center;
}

/* цвет страницы*/
.title.uppercase {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
text-transform: uppercase; 
}
.section .section-zag {
    color: var(--text-color-zag);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2; 
}
.containersbox .section.clients {
    text-align: center;
}

.clients > .section-zag {
    color: var(--background-color); 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4; 
    background-color: var(--text-color-zag);
}
.feature-list .title {
    color: var(--text-color-zag);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1; 
}
.feature-list .text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9; 
}
.wite {
    background-color: var(--fon-background-color);
}
.grey {
    background-color: var(--fon-background-color-two);
}
.portfoll {
    background-color: var(--fon-background-color);
}
.color.footer {
    background-color: var(--fon-background-color-footer);
}
.ridik {
    color: var(--background-color);
    border: 1px solid var(--accent-color);
}
.ridik :hover,
.ridik :focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}
.ridik > .title {
    color: var(--text-color-zag);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.ridik > .text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;

}
.point > .employee {
    padding: 0;
    margin: 0;

    color: var(--text-color-zag);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}
.point > .texticon {
    padding: 0;
    margin: 0;
    

    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}
/* кнопки*/
.button {
    color: var(--text-color-zag);
    background-color: var(--accent-color);
}


/*button{
    font-family: inherit;
}*/
.button.primary {
    color: var(--background-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
.button.secondary {
    color: var(--accent-color);
    background-color: var(--background-color);
    cursor: pointer;
}
.button.edit {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    
    color: var(--background-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    font-family: inherit;
}


.buttonzz.primary {
    color: var(--background-color);
    background-color:var(--accent-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}
.buttonzz.secondary {
    padding: 6px 22px;
    border-radius: 4px;
    

    color: var(--text-color-zag);
    background-color: var(--background-color);
    cursor: pointer;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}
.buttonzz.secondary:hover,
.buttonzz.secondary:focus {
    background-color:var(--accent-color);
    color: var(--background-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

/* футер*/

.rgb.link{
    color:rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: initial;
}

.rgb.link:hover,
.rgb.link:focus {
    color: var(--accent-color);  
}
.rgb.link.red {
    display: block;
    margin-top: 0;
    margin-bottom: 9px;
}
.pfooter {
    margin: 0;
    padding: 0;
    color: var(--background-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
.ninepx {
    margin-bottom: 9px;
}
/*контейнер*/
.containersbox {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding: 0 15px;

    outline: 2px solid tomato;
}
.section.clients  .containersbox .section-zag {
    margin: 0px 0px 30px 0px;
    padding: 0;
}
/*.containersbox .section.clients .button.edit {
    
}*/

.section.wite  .containersbox .feature-list {
    margin: 0;
    padding: 0;
}
.section.grey .containersbox .feature-list {
    margin: 0;
    padding: 0;
}
.section.wite  .containersbox .section-zag {
    margin: 0;
    padding: 0;
}
.section.grey .containersbox .section-zag {
    margin: 0;
    padding: 0;
}
.section.wite.one  .containersbox {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section.wite.two  .containersbox {
    padding-bottom: 94px;
}
.section.wite.two .containersbox .section-zag.tom {
    margin-top: 0;
    margin-bottom: 50px;
}
.section.grey .containersbox {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section.grey .containersbox .section-zag.jerry {
    margin-top: 0;
    margin-bottom: 50px;
}
.color.footer .containersbox {
    padding-top: 60px;
    padding-bottom: 60px;
}
.nonecss {
    margin: 0;
    padding: 0;
}
.nimfa {
    margin-top: 0;
    margin-bottom: 20px; 
}
.ridik h2{
    margin-top: 0;
    margin-bottom: 4px;
}
.ridik p {
    margin-top: 0;
    margin-bottom: 0;
}
.portfoll .containersbox {
    padding-top: 94px;
    padding-bottom: 94px;
}
