
:root {
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --text-color-zag: #212121;
    --background-color: #FFFFFF;
    --fon-background-color: #E5E5E5;
    --fon-background-color-two: #F5F4FA;
    --fon-background-color-footer: #2F303A;
}
body {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif; 
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
a {
    padding: 0;
    margin: 0;
}
button {
    cursor: pointer;
}
img {
    display: block;
    margin: 0;
    padding: 0;
}


/*         плагины       */
.visually {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/*      контейнер      */

.conteiners {
    width: 1200px;
    padding: 0 15px;
    outline: 2px solid tomato;
}

/*         header        */
.header {
    background-color:var(--background-color);
}
.header-link-logo {
    display: flex;
    align-items: center;
    color: var(--text-color-zag);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    margin-right: 93px;
}

.header-span {
    color: var(--accent-color);
}
.header-link {
    color: var(--text-color-zag); 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}
.header-link.current {
    color: var(--accent-color);
}
.header-link-contakt {
    color: var(--primary-text-color); 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    text-decoration: none;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-link-contakt:hover,
.header-link-contakt:focus {
    color: var(--accent-color);
}
.header-point {
    list-style: none;
}
.header-containers {
    display: flex;
    align-items: center;
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}
.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-nav {
    display: flex; 
}
.header-auth {
    display: flex; 
}
.header-site-nav {
    display: flex; 
}
.header-site-nav .header-point + .header-point {
    margin-left: 50px;
}
.header-auth {
    margin-left: auto;
}
.header-auth .header-point.indent {
    margin-left: 50px;
}

/*       main          */

/*        section-hero         */

.section-hero-title {
    margin-bottom: 30px;
    color: var(--background-color); 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em; 
    text-transform: uppercase;
}
.section-hero-btn {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;

    background-color: var(--accent-color);
    color: var(--background-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-transform: inherit;
}
.section-hero {
    background-color: var(--fon-background-color-footer);
    padding-top: 200px;
    padding-bottom: 200px;
}
.section-hero-containers {
    display: block;
    text-align: center;
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}




/*        section-criteria        */


.section-criteria-title {
    color: var(--text-color-zag);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.section-criteria-texticon {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 270px;
    height: 75px;
}
.section-criteria {
    background-color: var(--fon-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-criteria-containers {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}
.section-criteria-feature-listread {
    display: flex;
}
.section-criteria-point {
    height: 101px;
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
}
.section-criteria-point:nth-child(4n){
    margin-right: 0;
}







/*        section-work        */

.section-work-zag {
    text-align: center;
    color: var(--text-color-zag);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.section-work {
    background-color: var(--fon-background-color);
    padding-top: 0px;
    padding-bottom: 94px;
}
.section-work-containers {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}
.section-work-feature-list {
    display: flex;
}
.section-work-point {
    height: 294px;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
}

.section-work-point:nth-child(3n) {
    margin-right: 0;
}


/*        section-team        */

.section-team-zag {
    text-align: center;
    color: var(--text-color-zag);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.section-team-title {
    color: var(--text-color-zag);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}
.section-team-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.team-name {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.section-team {
    background-color: var(--fon-background-color-two);
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-team-containers {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}

.section-team-feature-list {
    display: flex;
}

.section-team-point {
    height: 368px;
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
}

.section-team-point:nth-child(4n) {
    margin-right: 0;
}





/*          portfoll         */      

.portfoll-feature-listread {
    color: var(--text-color-zag);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}
.portfoll-btn {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;

    background-color: var(--background-color);
    color: var(--text-color-zag);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    font-family: inherit;
}
.portfoll-btn:hover,
.portfoll-btn:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
}

.portfoll-title {
    color: var(--text-color-zag);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em; 
    margin-bottom: 4px; 
}
.portfoll-text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}
.card {
    padding:20px 24px;
}
.card:hover,
.card:focus {
    border: 1px solid var(--accent-color);
}
.portfoll-link {
    text-decoration: none;
}

.portfoll {
    background-color: var(--background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfoll-container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}
.portfoll-feature-listread {
    margin-bottom: 50px;
}
.portfoll-feature-listread {
    display: flex;
    justify-content: center;
}
.portfoll-feature-listread .portfoll-point + .portfoll-point {
    margin-left: 8px;
}
.portfoll-containers-list {

    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}
.portfoll-feature-listread-new {
    display: flex;
    flex-wrap: wrap;
}
.portfoll-point-ad {
    margin-bottom: 30px;
    margin-right: 30px;
    width: 370px;
}
.portfoll-point-ad:nth-child(3n) {
    margin-right: 0;
}
.portfoll-point-ad:nth-last-child(-n + 3) {
    margin-bottom: 0;
}


/*
.portfoll-feature-listread-new .portfoll-point-ad:nth-child(3n) {
    margin-right: 0;
}
.portfoll-feature-listread-new .portfoll-point-ad:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
*/




/*     footer    */

.footer-logo {
    display: block;
    color: var(--background-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    margin-bottom: 20px;
}
.footer-span {
    color: var(--accent-color);
}
.footer-text {
    color: var(--background-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: initial;

    margin-bottom: 9px;
}
.footer-link {
    display: block;
    color:rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: initial;
}
.footer-link:hover ,
.footer-link:focus {
    color: var(--accent-color);
}
.footer-link.last {
    margin-bottom: 9px;
}
.footer {
    display: block;
    background-color:var(--fon-background-color-footer);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-containers {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}




/*       */


/*button{
    font-family: inherit;
}*//*
.button.primary {
    color: var(--background-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
.button.secondary {
    color: var(--accent-color);
    background-color: var(--background-color);
    cursor: pointer;
}
.button.edit {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;

    color: var(--background-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    font-family: inherit;
}














/*:root {
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --text-color-zag: #212121;
    --background-color: #FFFFFF;
    --fon-background-color: #E5E5E5;
    --fon-background-color-two: #F5F4FA;
    --fon-background-color-footer: #2F303A;
}
body {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.7;
}

.point {
    list-style: none;
}
.site-nav {
    margin: 0;
    padding: 0;
}
.auth-nav {
    margin: 0;
    padding: 0;
}
.point .texticon{
    padding: 0;
    margin: 0;
}
.containersbox {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding: 0 15px;
}
/* шапка страницы*//*
.logo {
    color: var(--text-color-zag);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo.wite {
    background-color: var(--fon-background-color-footer);
    color: var(--background-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo-cap {
    color: var(--accent-color);
}
.logo.wite.djazz {
    display: block;
    margin-bottom: 20px;
}

/*.list {
    list-style: none;
} для сбросывания стиля к примера на точках в списке*//*
.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .point + .point{
    margin-left: 50px;
}

/*.site-nav .point:not(:last-child){
    margin-right: 0px;
} мард прав прим ко всем кроме послед ребенка*/
/*.site-nav .point + .point{
    margin-right: 0;
} margin левый применится ко всем кроме первого елемента *//*
.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--text-color-zag);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    text-decoration: none;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color:var(--accent-color);
}
.site-nav .link. {
    color: var(--accent-color);
}
.auth-nav {
    display: flex;
    margin-left: auto;
}
.auth-nav .point + .point{
    margin-left: 50px;
}
.auth-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    text-decoration: none;

}
.auth-nav .link:hover, 
.auth-nav .link:focus  {
    color: var(--accent-color);

}
/*хедер*//*
.main-nav {
    display: flex;
    align-items: center;
}

/* цвет страницы*//*
.title.uppercase {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    color: var(--text-color-zag);
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    text-transform: uppercase; 
}

.section .section-zag {
    color: var(--text-color-zag);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2; 
}
.section.clients .containersbox {
    text-align: center;
}

.clients .containersbox .section-zag {
    color: var(--background-color); 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4; 
}
.feature-list .title {
    color: var(--text-color-zag);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1; 
}
.feature-list .text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9; 
}
.section.clients {
    background-color:var(--text-color-zag);
}
.wite {
    background-color: var(--fon-background-color);
}
.grey {
    background-color: var(--fon-background-color-two);
}
.portfoll {
    background-color: var(--fon-background-color);
}
.color.footer {
    background-color: var(--fon-background-color-footer);
}
.ridik {
    color: var(--background-color);
    border: 1px solid var(--accent-color);
}
.ridik :hover,
.ridik :focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}
.ridik > .title {
    color: var(--text-color-zag);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.ridik > .text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;

}
.point > .employee {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;

    color: var(--text-color-zag);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}
.point .texticon {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
.djeki {
    text-align: center;
}
/* кнопки*//*
.button {
    color: var(--text-color-zag);
    background-color: var(--accent-color);
}


/*button{
    font-family: inherit;
}*//*
.button.primary {
    color: var(--background-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
.button.secondary {
    color: var(--accent-color);
    background-color: var(--background-color);
    cursor: pointer;
}
.button.edit {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;

    color: var(--background-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    font-family: inherit;
}


.buttonzz.primary {
    color: var(--background-color);
    background-color:var(--accent-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}
.buttonzz.secondary {
    padding: 6px 22px;
    border-radius: 4px;
    

    color: var(--text-color-zag);
    background-color: var(--background-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}
.buttonzz.secondary:hover,
.buttonzz.secondary:focus {
    background-color:var(--accent-color);
    color: var(--background-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

/* футер*/
/*
.rgb.link{
    color:rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: initial;
}

.rgb.link:hover,
.rgb.link:focus {
    color: var(--accent-color);  
}
.rgb.link.red {
    display: block;
    margin-top: 0;
    margin-bottom: 9px;
}
.pfooter {
    margin: 0;
    padding: 0;
    color: var(--background-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    font-style: initial;
}

/*контейнер белый первый*//*

.section.wite.two .containersbox .feature-list.tolk .point.gopro {
    height: 294px;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
}
.section.wite.two .containersbox .feature-list.tolk .point.gopro:nth-child(3n){
    margin-right: 0;
}